/* .container{
    border: 10px solid rgb(159, 226, 191);
    border-radius: 10px;

} */

a{
    color: white;
    text-decoration: none;
}

#page1{
    border: 1px solid black;
    height: 400px ;
    background-image: url("https://img.freepik.com/premium-vector/abstract-background-green-colors_444390-5143.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}
#header{
    /* border: 1px solid black; */

}
#info{
    position: relative;
    /* border: 1px solid black; */
    height: 200px;

}
#info img{
    position: absolute;
    width: auto;
    height: 550px;
    transform: translate(30px ,-370px);
}
#security{
    /* border: 1px solid black; */
    height: 200px;
    

}
#security >div{
    height: 130px;
    width: 130px;
    border: 1px solid black;
    /* align-self: center; */
    text-align: center;
    border-radius: 10px;
    
}
#lock{
    background-color: rgb(28, 63, 28);
}
#security  i{
    font-size: 50px;
    padding-top: 20px;
    color: green;
}

#wallet{
    height: 400px;
    /* border: 1px solid black; */
    position: relative;
    margin-top: 100px;
    background-image: url("https://img.freepik.com/premium-vector/abstract-background-green-colors_444390-5143.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;  
}
#wallet img{
    position: absolute;
    width: auto;
    height: 450px;
    transform: translate(20px,-100px);
} 

#heading{
    height: 100px;
    /* border: 1px solid black; */
    
}
#analysis{
    /* border: 1px solid black; */
    height: 300px;
}
#analysis >div{
    /* border: 1px solid black; */
    height: auto;
    border-radius: 10px;
}

#analysis >div i{
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 20px;
}

#icons{
    height: auto;
    /* border: 1px solid black; */

}
#icons >div{
    /* border: 1px solid black; */
    /* height: auto; */
     width: 150px;
     border-radius: 20px;  
    text-align: center;
    background: rgb(229, 228, 226);
}

#icons i{
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#flow-chart img{
    height: 450px;
    width: 80%;

}
#sub-header{
    background-color: darkgreen;
    height: 80px;
    font-size: 30px ;
    align-items: center;
}

.card{
    box-shadow: 10px 10px 16px black;
}
.card img{
    height: 110px;
    width: 150px;
}

#footer{
    height: 400px;
    background-color: darkgreen;

}