
body{
    background-color: darkcyan;
}


.calculator{
    width: 300px;
    height: 450px;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    box-shadow: 5px 5px 30px black;
    background-color: gray;

   
}

input{
    text-align: right;
    width: 297px;
    height: 100px;
    background-color: black;
    overflow: hidden;
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    pointer-events: none;

}

button{
    height: 60px;
    width: 60px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    border: none;
    font-size: large;
    cursor:grab;

}


.button{
    height: 300px;
    width: 90%;
    /* border: 1px solid black; */
    padding-top: 10px;
    padding-left: 30px;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.btn-yellow{
    background-color: orange;
}

.btn-red{
    background-color: red;
}

.btn-gray{
    background-color: green;
}